{% extends 'customers/base.html' %}

{% block content %}
    <div class="container">
        <h1>Django + Forms + Datatables + Django Rest Framework</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.customers.error_messages }}
            {{ form.customers }}
            <table id="customers" class="display">
                <thead>
                <tr>
                    <th>id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>City</th>
                    <th>Occupation</th>
                    <th>Birthday</th>
                    <th>Secret alias</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary" id="id_generic_save_button">
                Create Reminder objects for selected Customers!
            </button>
        </form>

    </div>
{% endblock %}

{% block custom_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
            integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script>

        // Populating the datatable via REST endpoint
        $(document).ready(function () {
            var table = $('#customers').DataTable({
                select: {
                    style: "multi"
                },
                dom: 'Blfrtip',
                buttons: [
                    'selectAll',
                    'selectNone'
                ],
                language: {
                    buttons: {
                        selectAll: "Select all items",
                        selectNone: "Select none"
                    }
                },
                "serverSide": true,
                "ajax": "/api/customers/?format=datatables",
                "columns": [
                    {"data": "id"},
                    {"data": "first_name"},
                    {"data": "last_name"},
                    {"data": "city"},
                    {"data": "occupation"},
                    {"data": "birthday"},
                    {"data": "secret_alias"},
                ]
            });
            table.on('buttons-action', function (e, buttonApi, dataTable, node, config) {
                // That's just... very... need to select by classname of the datatables buttons...
                if (node[0].className.indexOf("buttons-select-all") >= 0) {
                    console.log("Selecting all rows.")

                    // setting disabled = false for all hidden inputs "selecting all"
                    $('input:hidden[name="customers"]').each(function () {
                        $(this).prop('disabled', null);
                    })
                }
                if (node[0].className.indexOf("buttons-select-none") >= 0) {
                    console.log("De-selecting all rows.")

                    // setting disabled = true for all hidden inputs "deselecting all"
                    $('input:hidden[name="customers"]').each(function () {
                        $(this).prop('disabled', true);
                    })
                }
            });

            // manipulating Django Form hidden inputs when selecting/deselecting single rows
            table.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {

                    let id = table.rows(indexes).data()[0]['id'];

                    // necessary to go by value == id, not the id of the input field
                    $('input:hidden[value=' + id + ']').prop('disabled', null);
                    console.log("Selecting single row with id ", id)

                }
            });
            table.on('deselect', function (e, dt, type, indexes) {
                if (type === 'row') {
                    let id = table.rows(indexes).data()[0]['id'];

                    // necessary to go by value == id, not the id of the input field
                    $('input:hidden[value=' + id + ']').prop('disabled', true);
                    console.log("De-selecting single row with id ", id)

                }
            });
        })
        ;

    </script>

{% endblock %}