{% extends 'customers/base.html' %}

{% block content %}
    <div class="container">
        <h1>Datatables example with Django and Django Rest Framework</h1>
        <p>
            <a href="{% url 'create-reminders' %}">Create moar reminders!!!</a>
        </p>
        <table id="reminders" class="display">
            <thead>
            <tr>
                <th>id</th>
                <th>customer</th>
                <th>created_at</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block custom_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
            integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>
    <script>

        $(document).ready(function () {
            var table = $('#reminders').DataTable({
                "serverSide": true,
                "ajax": "/api/reminders/?format=datatables",
                "columns": [
                    {"data": "id"},
                    {"data": "customer"},
                    {"data": "created_at"},
                ]
            });
        });

    </script>
{% endblock %}